@import "helpers/interfaces"
@import "helpers/mixins"
@import "views/index"
@import "views/admin"
@import "modules/buttons"

html
  font-size: 62.5%

body
  background: url("/images/bg_pattern.svg") no-repeat center center fixed
  background-size: cover
  height: 100%
  margin: 0
  font-family: lato, sans-serif
  +font-size(16)

header
  margin: 0 0 3rem

p
  margin: 0 0 1rem

.wrapper
  margin: 0 auto
  max-width: 800px
  padding: 0 1rem

.box
  +clearfix()
  background: #f8f8f8
  border-radius: 3px
  margin: 0 0 2rem
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3)
  padding: 3rem

h1
  +font-size(28)
  color: #fff
  margin: 2rem 0

h2
  +font-size(18)
  margin: 0 0 3rem

.options-list
  background: white
  border: none
  padding: 2rem 1rem 0

  .option
    margin: 0 1rem 2rem
    width: calc(33.3333% - 20px)

  input::-webkit-input-placeholder
    color: rgba(0, 0, 0, 0.15)

.pane
  +font-size(14)
  background: #fff
  border: 1px solid #eee
  border-radius: 2px
  padding: 1rem
  margin: 0 0 1.5rem

  &:last-of-type
    margin-bottom: 4rem

@import "helpers/minions"
