<h1>Admin</h1>

<div id="name"></div>

<script type="text/javascript">
  window.onload = function() {
    const Setting = React.createElement(Components.ChurchNameSetting, { name: "<%= setting_value(@settings, "church_name") %>"})
    ReactDOM.render(Setting, document.getElementById("name"))
  }
</script>
