<h1>Admin</h1>

<div class="form-group">
  <%= label(:setting, :church_name, "Church Name") %>
  <%= text_input(:setting, :church_name, class: "form-control", value: setting_value(@settings, "church_name")) %>
</div>
